/* 'https://fakestoreapi.com/products */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbarParent {
  background-color: #2ecbeb !important;
  height: 100px;
}

/* #navbarParent .nav-link, 
#navbarParent .navbar-brand { */
.parentBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 95vw;
  margin: 10px auto;
  background-color: #dfdfdf;
}

.parent {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 380px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}

.parent img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: contain;
}

.parent h3,
.parent h4,
.parent p {
  margin: 10px 0;
}
.parent .child1 {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 0px auto;
}

.parent:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.parent:hover img {
  transform: scale(1.05);
}
.spiner {
  width: 60px;
  height: 60px;
  border: 4px solid rgb(119, 109, 109);
  border-top: 6px solid salmon;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.linkparent ul {
  display: flex;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.homepagenavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
 width: 100vw;
  height: 100px;
  background-color: #0f8497;
}

/* ul default (large screen) */
.homepagenavbar ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.homepagenavbar .nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.homepagenavbar img {
 width: 24%;
  margin-top: 29px;
}

/* three dot button */
.homepagenavbar button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}
.homepagenavbar h1{
  font-size: 4em;
  font-weight: 500;
}

.homepagelinkbtn {
  width: 200px;
  height: 55px;
  border-radius: 15px;
  background-color: #072e57; 
  border: 1px solid white;
  box-shadow: 0 4px 6px #3d393d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  animation: bgChange 4s linear infinite;
}

@keyframes bgChange {
  0% {
    background-color: #072e57;
  }
  50% {
    background-color: #bd30b4;
  }
  100% {
    background-color: #072e57;
  }
}
.homeinformation {
 width: 46%;
  height: auto;
  text-align: center;
  background-color: none;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.animate-text {
  font-size: 1.8rem;
  animation: slideUp 0.5s ease-out;
  font-weight: bold;
  
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.homeinformation h2{
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: 700;
}
.responsiveimg img{
  display: none;
}
.pharagraph{
 width: 90%;
  height: 150px;
  overflow: hidden;
  margin: 20px 0px;
  overflow: hidden;
}
.containers{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0px auto;
  flex-wrap: wrap;
  background-color: rgba(128,128,128,0.9);
}
.containers img{
  width: 360px;
  height: 400px;
}

.homepagebody{
  background-image: url('homepagebody.jpeg');
  background-size: cover;
}


.homepageinformationscrool{
  width: 54%;
  height: 400px;
  overflow-y: auto;
  padding: 10px;
   border: 1px solid #eeebf4;
    border-radius: 10px;

}
.homepageinformationscrool ul{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 2px auto;
  font-weight: 600;
  color: #12377b;
  padding: 30px;
}
.container2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  padding: 3px;
  margin: 10px auto;
}
.homepagevideo2 video{
  height: 250px;
 box-shadow: 0 3px 5px black;
 margin-left: 20px;
 border-radius: 10px;
}

.homepagevideo2{
  height: auto;
}
.homepagevideo2 ul{
  border: 1px solid #f2eee7;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  flex-wrap: wrap;
  width: 95%;
  padding: 20px;
  font-weight: 600;
  color: #18116c;
  border-radius: 10px;
  margin-right: 20px;
  overflow-y: auto;
}
.homepagecontactcontainer{
  
  width: 80vw;
  height: auto;
  margin: 2px auto;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #f2eee5;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
.whatsapp{
  border: 1px solid white;
  width: 40%;
  height: auto;
  text-align: center;
}
.whatsappanimat img{
  width: 100%;
  height: 100%;
}
.whatsappanimat{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 5px auto;
  animation: bgwhatsapp 5s linear infinite;
  
}
.gmailanimate{
  width: 200px;
  height: 200px;
   
     margin: 5px auto;
  animation: bgwhatsapp 5s linear infinite;
}
.gmailanimate img{
  width: 100%;
  height: 100%;
 
}
@keyframes bgwhatsapp {
  0% {
    background-color: white;
  }
  50% {
    background-color: #ebe4f5;
  }
  100% {
    background-color: white;
  }}
.parent-container {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  margin: 30px 0px;
}

.trusted-list {
  display: flex;
  width: max-content; 
  gap: 20px;
  animation: slideLoop 25s linear infinite; 
}


.trusted-list:hover {
  animation-play-state: paused;
  
}

.trusted-list span {
  flex-shrink: 0;
  width: 200px; 
  height: 120px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
@keyframes slideLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 10px)); 
  }
}
.footer{
  background:#dbdbdb;
  color:#000000;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  padding:40px 60px;
  margin-top: 20px;
}

.footer-box{
  width:220px;
}

.footer-box h3,
.footer-box h4{
  margin-bottom:10px;
}

.footer-box ul{
  list-style:none;
  padding:0;
}

.footer-box ul li{
  margin:6px 0;
}

.footer-box a{
  color:#000000;
  text-decoration:none;
}

.footer-box a:hover{
  color:#3f7976;
}

.footer-bottom{
  background:#000000;
  color:#ffffff;
  text-align:center;
  padding:10px;
  font-size:14px;
}