.Logincontainer {
  width: 600px;
  height: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(173,216,230,0.6);
  border: none;
}
.animateparent{
  /* position: relative; */
  overflow: hidden;
  width: 100vw;
}

.buyloomtextanimate-x{
  position: relative;
  white-space: nowrap;
  font-size: 90px;
  color: rgba(0, 180, 255, 0.25); /* soft sky blue */
  /* left: 100%; */
  animation: slideText 4s linear infinite;
}

@keyframes slideText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}

@media (max-width: 700px) {
  .Logincontainer {
    width: 90vw;
  }
}
